/*  Community  */
.icon-and-content[data-icon="community"] .bubbles {
   transition: all 200ms;
   transform: scale(1);
   transform-origin: 50% 50%;
}
   .icon-and-content[data-icon="community"] .bubbles > * {
      transition: all 200ms;
   }

.icon-and-content[data-icon="community"]:hover .bubbles {
   transform: scale(3);
   transform-origin: 50% 50%;
}
   .icon-and-content[data-icon="community"]:hover .bubbles > * {
      fill-opacity: 0.5 !important;
   }

/*  Help  */
.icon-and-content[data-icon="help"] .question,
.icon-and-content[data-icon="help"] .exclamation {
   transition: 1s all;
   transform-origin: 50% 50%;
   transform-box: content-box;
}
.icon-and-content[data-icon="help"] .exclamation {
   transform: scale(0);
   transform-origin: 30% 100%;
}

   .icon-and-content[data-icon="help"]:hover .question {
      transform: scale(0);
   }
   .icon-and-content[data-icon="help"]:hover .exclamation {
      fill-opacity: 1;
      transform: scale(2);
   }

/*
 *  Team Icons
 *
 */

/*  Check  */

.icon-and-content[data-icon*="team"] .icon {
   position: relative;
}
   .icon-and-content[data-icon*="team"] .icon::before {
      content: "";
      display: block;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: var(--icon-size);
      background-image: url(../images/icon_team_check.svg);
      background-size: var(--icon-size);
      background-repeat: no-repeat;
   }
      .icon-and-content[data-icon*="team"]:hover .icon::before {
         animation-name: expose;
         animation-delay: 1s;
         animation-duration: 0.2s;
         animation-direction: forwards;
         animation-fill-mode: forwards;
      }

/*  Development  */
.icon-and-content[data-icon="team_development"] .bug {
   transition: all 5s;
   transform: scale(1) translate(0, 0);
   transform-box: content-box;
   transform-origin: 50.51% 60.91%;
}
   .icon-and-content[data-icon="team_development"]:hover .bug {
      transform: scale(0.7) translate(15vw, -100vh);

      --wiggle: 3.2em;
      animation-name: wiggle;
      animation-composition: add;
      animation-duration: 0.5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
   }
         .icon-and-content[data-icon="team_development"]:hover .bug [class*="wing"] {
            transform-box: content-box;
            transform-origin: 100% 4.14%;
            --rotation: 10deg;

            animation-name: rotate;
            animation-duration: 0.25s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
         }
            .icon-and-content[data-icon="team_development"]:hover .bug .wing-right {
               transform-origin: 21.72% 0%;
               --rotation: -10deg;
            }

/*  Documentation  */
.icon-and-content[data-icon="team_documentation"]:hover .sheet {
   transform: translate(0, -100%);

   animation-name: rollup-repeat;
   animation-duration: 2s;
   animation-delay: 2s;
   animation-iteration-count: infinite;
   animation-fill-mode: forwards;
   animation-timing-function: linear;
}

/*
 *  Keyframes
 *
 */

@keyframes rollup-repeat {
   from { transform: translate(0, 100%); }
   to { transform: translate(0, -100%); }
}

@keyframes wiggle {
   from { transform: translate(0, 0); }
   to { transform: translate(var(--wiggle), 0); }
}

@keyframes rotate {
   from { transform: rotate(0); }
   to { transform: rotate(var(--rotation)); }
}

@keyframes expose {
   from { opacity: 0; }
   to { opacity: 1; }
}
