:root {
   --pad: 4em;

   --palette-xubuntu-blue: #04a;
   --palette-xubuntu-blue-alt: #4790fa;

   --color-fg: #111;
   --color-fg-tertiary: #fff;
   --color-bg: #fff;
   --color-bg-secondary: #f0f2f5;
   --color-bg-tertiary: #849cbd;

   --color-gradient-first: #2895d9;
   --color-gradient-second: #0d70b3;
   --color-blue-angle: #0a5283;

   --color-link: #2c82dd;
   --color-link-hover: #13385e;
   --color-heading: var(--palette-xubuntu-blue);
   --color-hairline: rgba(0,0,0,0.15);

   --color-button-fg: var(--palette-xubuntu-blue);
   --color-button-bg: #fff;
   --color-button-shadow: #114668;
   --color-button-glow: rgba(255,255,255,0.5);

   --font: 'Noto Sans', sans-serif;
   --font-heading: 'Montserrat', sans-serif;
}

@media (prefers-color-scheme: dark) {
   :root {
      --color-fg: #eee;
      --color-bg: #111c2b;
      --color-bg-secondary: #222b38;
      --color-bg-tertiary: #162333;

      --color-gradient-first: #052940;
      --color-gradient-second: #06304d;
      --color-blue-angle: #0e71b5;

      --color-link-hover: #2d84de;
      --color-heading: var(--palette-xubuntu-blue-alt);
      --color-hairline: rgba(255,255,255,0.25);
   }
}

/*
 *  Elements
 *
 */

a {
   text-decoration: none;
   color: var(--color-link);
}
   main a:is(:hover,:active,:focus) {
      color: var(--color-link-hover);
   }

dl {
   display: grid;
   grid-template-columns: 200px auto;
}
   dt {
      font-weight: 600;
   }

ol { }
ul { }
   ul li {
      margin-bottom: 0.2em;
   }
   ul:not(.meta,.article-list) li {
      margin-left: 1em;
   }
      ul:not(.meta,.article-list) li::before {
         display: block;
      	float: left;
      	width: 0.7em;
      	margin-left: -0.7em;
      	margin-top: -0.12em;
      	content: "›";
      	font-weight: 300;
      	font-size: 140%;
         opacity: 0.7;
      }

h1, h2, h3, h4, h5, h6 {
   font-family: var(--font-heading);
   font-weight: 400;
   margin-top: 1.5em;
   margin-bottom: 1em;
   line-height: 1.3em;
}
   :first-child:is(h1, h2, h3, h4, h5, h6) {
      margin-top: 0;
   }
   h1 { font-size: 200%; }
   h2 { font-size: 160%; }
      body:not(#index) h2 {
         font-size: 200%;
         color: var(--color-heading);
      }
   h3 { font-size: 140%; font-weight: 500; color: var(--color-fg); opacity: 0.7; }
   h4 { font-size: 100%; font-weight: 500; }

hr {
   border: none;
   border-top: 1px solid var(--color-hairline);
}

img {
   max-width: 100%;
   height: auto;
}

figure img {
   display: block;
   margin: 0 auto;
   max-width: 600px;
   height: auto;
}

/*
 *  Layout
 *
 */

body {
   background-color: var(--color-bg);
   color: var(--color-fg);
   font-family: var(--font);
   line-height: 1.6em;
}

:is(header,main,footer) > :is(section,article) {
   width: min( 90%, 1200px );
   margin: var(--pad) auto;
}
   section section {
      margin: 0 auto;
   }
   section.wide { width: 100vw; }
      section.wide > * { width: min( 90%, 1200px ); margin-right: auto; margin-left: auto; }

header {
   position: relative;
   background: var(--color-gradient-first) radial-gradient(circle at 30%, var(--color-gradient-first), var(--color-gradient-second));
   color: #fff;
   padding-top: 1px;
   padding-bottom: 1px;
}
   header nav {
      position: absolute;
      top: 0;
      z-index: 3;
      right: max( 5%, calc( ( 100vw - 1200px ) / 2 ) );
   }
      header nav a {
         color: #fff;
         margin-left: 2em;
         font-weight: 500;
         font-family: var(--font-heading);
         letter-spacing: 0.05em;
      }
   body:not(#index) header section {
      margin-top: .5em;
      margin-bottom: .5em;
   }
      body:not(#index) header h1 {
         margin-bottom: 0;
      }
      body:not(#index) header section #logo {
         height: 30px;
      }
   body:not(#index) header nav {
      height: 100%;
      align-content: center;
   }

   /* Index */
   body#index header {
      padding-bottom: var(--pad);
   }
      body#index header nav {
         top: var(--pad);
      }
      body#index header::after {
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         display: block;
         width: 100%;
         height: calc( var(--pad) * 2);

         background-color: var(--color-bg);
         mask-image: linear-gradient(to bottom right,transparent 0%,transparent 50%,#fff calc(50% + 1px),#fff 100%);
         mask-size: 100% 100%;
         mask-position: 100% 100%;
         mask-repeat: no-repeat;
      }
      body#index header::before {
         content: '';
         position: absolute;
         top: 0;
         right: 0;
         width: 60%;
         height: calc( 100% + var(--pad) );
         z-index: 2;

         opacity: 0.18;
         background-color: var(--color-blue-angle);
         mask-image: linear-gradient(to top right,transparent 0%,transparent 50%,#fff calc(50% + 1px),#fff 100%);
         mask-size: 100% 100%;
         mask-position: 100% 100%;
         mask-repeat: no-repeat;
      }

main { }
   main > .secondary:last-child { margin-bottom: 0; }

footer {
   background-color: var(--color-bg-tertiary);
   color: var(--color-fg-tertiary);
   padding: var(--pad) 0;
}
   footer section {
      margin-top: 0;
      margin-bottom: 0;
   }
   footer nav a {
      display: block;
      color: #fff;
      font-weight: 600;
   }

/*
 *  Common classes
 *
 */

/*  Meta  */
.meta {
   opacity: 0.5;
}
   h2 + .meta {
      margin-top: -2em;
   }
   .meta a:is(:link,:hover,:active,:focus,:visited) {
      color: var(--color-fg);
   }
   .meta > li {
      display: inline-block;
   }
      .meta > li:not(:last-child)::after {
         content: "—";
         margin: 0 0.5em;
      }

/*  Columns  */

[class*="columns"] {
   display: grid;
   grid-template-columns: repeat(var(--col),1fr);
   grid-gap: var(--pad);
}
   [class*="columns"] > * {
      width: 100%;
   }
   [class*="columns"] > h3 {
      margin-top: 0;
   }


.columns-2 { --col: 2; }
.columns-3 { --col: 3; }
.columns-4 { --col: 4; }

.columns-1-2 { grid-template-columns: 1fr 2fr; }

/*  Icon alongside content  */

.icon-side {
   display: grid;
   grid-template-columns: 100px auto;
   grid-gap: calc( var(--pad) / 2 );
}
   .icon-side img {
      width: 100%;
      height: auto;
   }
   .icon-side h3 {
      color: var(--color-fg);
   }

/*  Section with secondary BG color  */

section.secondary {
   background-color: var(--color-bg-secondary);
   padding: calc( var(--pad) / 1.25 ) 0;
}

/*  Featured post  */

.featured > * {
   margin-bottom: 0.2em;
}

/*  Article list  */

.article-list > li {
   margin-bottom: 1em;
}

/*  Media list  */

.media-list {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: calc( var(--pad) / 2 );
}
   .media-list img {
      max-width: 100%;
      height: auto;
   }

/*  Mirrors list  */
.mirrors-list {
   column-count: 3;
   column-gap: 1em;
}

/*  Button  */

.button {
   position: relative;
   display: inline-block;
   margin: 0.5em 0.5em 0.5em 0;
   padding: 0.65em 1em;
}
   .button span {
      background-color: var(--color-button-bg);
      border-radius: 0.5em;
      position: relative;
      top: 0;
      left: 0;
      z-index: 2;
      transition: 200ms all;
   }
      .button span::after {
         content: '›';
         margin-left: 0.5em;
      }
   .button::before, .button::after {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 0.5em;
      transition: all 200ms;
   }
      .button::before {
         top: 0;
         z-index: 1;
         background-color: var(--color-button-bg);
      }
      .button::after {
         top: 0.5em;
         z-index: 0;
         background-color: var(--color-button-shadow);
      }
   .button:hover::before,
   .button:hover span {
      top: 0.5em;
   }
      .button:hover::after {
         background-color: transparent;
         box-shadow: 0 0 2em var(--color-button-glow);
      }

/*
 *
 *
 */

.quo {
   font-weight: 600;
}
   .quo::after {
      content: '›';
      margin-left: 0.5em;
   }

/*
 */

.sidenote {
   display: inline-block;
   opacity: 0.5;
   font-size: 80%;
   margin-left: 0.5em;
}
