:root {
   --palette-xubuntu-blue: #04a;
   --palette-xubuntu-blue-alt: #4790fa;

   --color-fg: #111;
   --color-fg-secondary: #404040;
   --color-fg-meta: #525a66;

   --color-bg: #fff;
   --color-bg-alternative: #f0f2f5;

   --color-fg-footer: #fff;
   --color-bg-footer: #849cbd;

   --color-gradient-first: #2895d9;
   --color-gradient-second: #0d70b3;
   --color-blue-angle: #0a5283;
   --color-icon-circle: #5967cf; /* #45339b; */

   --color-link: #2c82dd;
   --color-link-hover: #13385e;
   --color-heading: var(--palette-xubuntu-blue);
   --color-hairline: rgba(0,0,0,0.15);

   --color-button-fg: var(--palette-xubuntu-blue);
   --color-button-bg: #edf4fa;
   --color-button-shadow: #114668;
   --color-button-glow: rgba(255,255,255,0.5);

   --font: 'Noto Sans', sans-serif;
   --font-heading: 'Montserrat', sans-serif;
}

@media (prefers-color-scheme: dark) {
   :root {
      --color-fg: #eee;
      --color-fg-secondary: #aaa;

      --color-bg: #111c2b;
      --color-bg-alternative: #222b38;
      --color-bg-footer: #162333;

      --color-gradient-first: #052940;
      --color-gradient-second: #06304d;
      --color-blue-angle: #0e71b5;
      --color-icon-circle: #e8771a;

      --color-link-hover: #2d84de;
      --color-heading: var(--palette-xubuntu-blue-alt);
      --color-hairline: rgba(255,255,255,0.25);
   }
}

:root {
   --pad: 1.5em;
   --pad-small: 1.5em;
}
@media screen and (min-width: 800px) {
   :root {
      --pad: 4em;
      --pad-small: 2em;
   }
}

/*
 *  Elements
 *
 */

a {
   text-decoration: none;
   color: var(--color-link);
}
   main a:is(:hover,:active,:focus) {
      color: var(--color-link-hover);
   }

dl {
   display: grid;
   grid-template-columns: 200px auto;
}
   dt {
      font-weight: 600;
   }

ol { }
ul { }
   ul li {
      margin-bottom: 0.2em;
   }
   main ul:not(.meta,.article-list) li {
      margin-left: 1em;
   }
      main ul:not(.meta,.article-list) li::before {
         display: block;
      	float: left;
      	width: 0.7em;
      	margin-left: -0.7em;
      	margin-top: -0.12em;
      	content: "›";
      	font-weight: 300;
      	font-size: 140%;
         color: var(--color-fg-secondary);
      }

h1, h2, h3, h4, h5, h6 {
   font-family: var(--font-heading);
   font-weight: 400;
   margin-top: 1.5em;
   margin-bottom: 1em;
   line-height: 1.3em;
}
   :first-child:is(h1, h2, h3, h4, h5, h6) {
      margin-top: 0;
   }
   h1 { font-size: 200%; }
   h2, article h1 { font-size: 200%; color: var(--color-heading); }
      article h1 { margin-bottom: 0; }
   h3, article h2 { font-size: 140%; font-weight: 500; color: var(--color-fg-secondary); }
   h4, article h3 { font-size: 100%; font-weight: 500; }

hr {
   border: none;
   border-top: 1px solid var(--color-hairline);

   margin-top: var(--pad);
   margin-bottom: var(--pad);
   position: relative;
   width: 100vw;
   left: calc( -1 * ( max( 10vw, 100vw - 1200px ) / 2 ) );
}
   main > hr {}

img {
   max-width: 100%;
   height: auto;
}

figure img {
   display: block;
   margin: 0 auto;
   max-width: 600px;
   height: auto;
}

summary {
   list-style: none;
}

details .click-to-open::after {
   content: '';
   display: inline-block;
   width: 1.2em;
   height: 1.2em;
   margin-left: 0.6em;
   margin-bottom: -0.2em;
   background-image: url(../images/click-to-open.svg);
   background-repeat: no-repeat;
   background-position: 50% 50%;
}
   details[open] .click-to-open {
      display: none;
   }

/*
 *  Layout
 *
 */

body {
   background-color: var(--color-bg);
   color: var(--color-fg);
   font-family: var(--font);
   line-height: 1.6em;
}

:is(header,main,footer) > :is(section,article) {
   position: relative;
   z-index: 4;
   width: min( 90%, 1200px );
   margin: var(--pad) auto;
}
   section section {
      margin: 0 auto;
   }
   section.wide { width: 100vw; }
      section.wide > * { width: min( 90%, 1200px ); margin-right: auto; margin-left: auto; }
      section.page > section.wide {
         margin-left: calc( -1 * ( max( 10vw, 100vw - 1200px ) / 2 ) );
      }

      section.page:has( > .alternative-bg:last-child ),
      section.page:has( > .alternative-bg:last-child ) > .alternative-bg:last-child {
         margin-bottom: 0;
      }
/*  Header  */
header {
   position: relative;
   padding-top: 1px;
   padding-bottom: 1px;
   background: var(--color-gradient-first) radial-gradient(circle at 30%, var(--color-gradient-first), var(--color-gradient-second));
   color: #fff;
}
   header .main {
      position: relative;
      z-index: 3;

      display: grid;
      grid-template-columns: auto max-content;
      grid-template-areas: "logo nav";
      margin-top: 1em;
      margin-bottom: 1em;
   }
      header .main > * {
         margin-bottom: 0;
      }
      header #logo {
         grid-area: logo;
      }
         header #logo img {
            height: 30px;
            width: 144px;
            max-width: 144px;
         }
      header nav {
         grid-area: nav;
         align-content: center;
      }
         header nav a {
            color: #fff;
            margin-left: 2em;
            font-weight: 500;
            font-family: var(--font-heading);
            letter-spacing: 0.05em;
         }

   body header::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 85%;
      height: calc( 100% + var(--pad) );
      z-index: 2;

      opacity: 0.18;
      background-color: var(--color-blue-angle);
      mask-image: linear-gradient(to top right,transparent 0%,transparent 50%,#fff calc(50% + 1px),#fff 100%);
      mask-size: 100% 100%;
      mask-position: 100% 100%;
      mask-repeat: no-repeat;
   }

   /* Index */
   body#index header {
      padding-bottom: var(--pad);
   }
      body#index header .main {
         margin-top: var(--pad);
         margin-bottom: var(--pad);
      }
      body#index header::before {
         width: 60%;
      }
      body#index header::after {
         content: '';
         position: absolute;
         bottom: -1px;
         left: 0;
         display: block;
         width: 100%;
         height: calc( var(--pad) * 2 );

         background-color: var(--color-bg);
         mask-image: linear-gradient(to bottom right,transparent 0%,transparent 50%,#fff calc(50% + 1px),#fff 100%);
         mask-size: 100% 100%;
         mask-position: 100% 100%;
         mask-repeat: no-repeat;
      }
   body#index header h2 {
      color: #fff;
   }

@media screen and (min-width:800px) {
   body#index header #logo img {
      object-fit: contain;
      height: auto;
      width: auto;
      max-width: unset;
   }
   body#index header nav {
      align-content: start;
   }
}

/*  Main  */

main { }
   .alternative-bg {
      margin-top: calc( var(--pad) / 2 );
      margin-bottom: calc( var(--pad) / 2 );
   }
   main > .alternative-bg:last-child { margin-bottom: 0; }

   main article + article,
   main .pagination {
      margin-top: var(--pad);
      padding-top: var(--pad);
      position: relative;
   }
      main article + article::before,
      main .pagination::before {
         content: '';
         display: block;
         width: 100vw;
         position: absolute;
         top: 0;
         left: calc( -1 * ( max( 10vw, 100vw - 1200px ) / 2 ) );
         bottom: calc( min( 90%, 1200px ) );
         border-top: 1px solid var(--color-hairline);
      }

/*  Footer  */

footer {
   background-color: var(--color-bg-footer);
   color: var(--color-fg-footer);
   padding: var(--pad) 0;
}
   footer > section {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: var(--pad);
      margin-top: 0;
      margin-bottom: 0;
   }
   footer a {
      display: block;
      font-size: 90%;
      color: #fff;
   }
      footer nav a {
         font-size: 100%;
         font-weight: 600;
      }
   footer .icon {
      display: block;
      margin-bottom: 0.4rem;
   }
      footer .icon img {
         height: 32px;
         width: auto;
      }
   footer p.sub {
      font-size: 85%;
      font-family: var(--font-heading);
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      margin-bottom: 0.4rem;
   }
      footer li {
         line-height: 1.2em;
      }

@media screen and (min-width:480px) {
   footer > section {
      grid-template-columns: repeat(2, 1fr);
   }
}
@media screen and (min-width:1024px) {
   footer > section {
      grid-template-columns: 3fr repeat(3, 2fr);
   }
}

/*
 *  Common classes
 *
 */

/*  Meta  */
.meta {
   color: var(--color-fg-meta);
}
   h2 + .meta {
      margin-top: -2em;
   }
   .meta a:is(:link,:hover,:active,:focus,:visited) {
      color: var(--color-fg-meta);
   }
   .meta > li {
      display: inline-block;
   }
      .meta > li:not(:last-child)::after {
         content: "—";
         margin: 0 0.5em;
      }

/*  Columns  */

[class*="columns"] {
   --col: 1;
   display: grid;
   grid-template-columns: repeat(var(--col),1fr);
   grid-gap: var(--pad-small) var(--pad);
}
   [class*="columns"] > * {
      width: 100%;
   }
   [class*="columns"] > h3 {
      margin-top: 0;
   }

@media screen and (min-width: 800px) {
   .columns-2 { --col: 2; }
   .columns-3 { --col: 3; }
   .columns-4 { --col: 4; }

   .columns-1-2 { grid-template-columns: 1fr 2fr; }
}

/*  Icons  */

.icon svg .circle {
   fill: var(--color-icon-circle) !important;
}

/*  Icon alongside content  */

.icon-and-content {
   --icon-size: 100px;
   display: grid;
   grid-template-columns: var(--icon-size) auto;
   grid-gap: var(--pad-small);
   overflow: visible;
   transition: all 200ms;
}
   .icon-and-content img,
   .icon-and-content svg {
      width: var(--icon-size);
      height: auto;
      overflow: visible;

   }
   .icon-and-content h3 {
      color: var(--color-heading);
   }

/*  Section with alternative BG color  */

section.alternative-bg {
   background-color: var(--color-bg-alternative);
   padding: calc( var(--pad) / 1.25 ) 0;
}

/*  Featured post  */

.featured > * {
   margin-bottom: 0.2em;
}

/*  Article list  */

.article-list > li {
   margin-bottom: 1em;
}

/*  Media list  */

.media-list {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: var(--pad-small);
}
   .media-list img {
      max-width: 100%;
      height: auto;
   }

/*  Mirrors list  */
.mirrors-list {
   column-count: 3;
   column-gap: 1em;
}

/*  Pagination  */
.pagination {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-areas: "older num newer";
}
   .pagination .older { grid-area: older; }
      .pagination .older span::before { content: '‹'; margin-right: 0.5em; }
      .pagination .older span::after { content: ''; margin-left: 0; }
   .pagination .page_number { grid-area: num; text-align: center; align-self: center; }
   .pagination .newer { grid-area: newer; text-align: right; }
   .pagination .button { margin-top: 0; }

/*  Button  */

.button {
   position: relative;
   display: inline-block;
   margin: 0.5em 0.5em 0.5em 0;
   padding: 0.65em 1em;
}
   .button span {
      background-color: var(--color-button-bg);
      border-radius: 0.5em;
      position: relative;
      top: 0;
      left: 0;
      z-index: 2;
      transition: 200ms all;
   }
      .button span::after {
         content: '›';
         margin-left: 0.5em;
      }
   .button::before, .button::after {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 0.5em;
      transition: all 200ms;
   }
      .button::before {
         top: 0;
         z-index: 1;
         background-color: var(--color-button-bg);
      }
      .button::after {
         top: 0.5em;
         z-index: 0;
         background-color: var(--color-button-shadow);
      }
   .button:hover::before,
   .button:hover span {
      top: 0.5em;
   }
      .button:hover::after {
         background-color: transparent;
         box-shadow: 0 0 2em var(--color-button-glow);
      }

.alternative-bg .button span,
.alternative-bg .button::before {
   background-color: var(--color-bg);
}
/*
 *
 *
 */

.quo {
   font-weight: 600;
}
   .quo::after {
      content: '›';
      margin-left: 0.5em;
   }

/*
 */

.sidenote {
   display: inline-block;
   color: var(--color-fg-meta);
   font-size: 80%;
   margin-left: 0.5em;
}
