<footer>
   <section>
      <div>
         <a class="icon" href="{{ "/" | relative_url }}"><img src="{{ "/assets/images/icon_white_xubuntu.svg" | relative_url }}" alt="Xubuntu" /></a>
         <section class="columns-2">
            {%- include layout/nav.html -%}
            <div>
               {%- assign latest_release = site.releases | sort: 'version' | reverse | first -%}
               <a href="{{ latest_release.url | relative_url }}">{{ latest_release.title }}</a>
               <a href="{{ "/releases" | relative_url }}">All releases</a>
            </div>
         </section>
      </div>
      <div>
         <span class="icon"><img src="{{ "/assets/images/icon_white_communicate.svg" | relative_url }}" alt="Communicate" /></span>
         <p class="sub">Communicate</p>
         <ul>
            <li><a href="https://kiwiirc.com/nextclient/irc.libera.chat?nick=xu-user?w#xubuntu">IRC</a></li>
            <li><a href="https://matrix.to/#/#xubuntu:ubuntu.com">Matrix</a></li>
         </ul>
         <ul>
            <li><a href="https://twitter.com/Xubuntu">X</a></li>
            <li><a href="http://www.facebook.com/xubuntuusers">Facebook</a></li>
            <li><a href="https://floss.social/@xubuntu">Mastodon</a></li>
         </ul>
      </div>
      <div>
         <span class="icon"><img src="{{ "/assets/images/icon_white_merchdonate.svg" | relative_url }}" alt="Merch & Donate" /></span>
         <p class="sub">Merchandise</p>
         <ul>
            <li><a href="https://www.hellotux.com/xubuntu">Hellotux</a></li>
         </ul>
         <p class="sub">Donate</p>
         <ul>
            <li><a href="https://opencollective.com/xfce">Xfce (US)</a></li>
            <li><a href="https://opencollective.com/xfce-eu">Xfce (Europe)</a></li>
         </ul>
      </div>
      <div>
         <span class="icon"><img src="{{ "/assets/images/icon_white_developers.svg" | relative_url }}" alt="Developers" /></span>
         <p class="sub">For Developers</p>
         <ul>
            <li><a href="https://github.com/Xubuntu">GitHub</a></li>
            <li><a href="https://kiwiirc.com/nextclient/irc.libera.chat?nick=xu-contribute?w#xubuntu-devel">IRC</a></li>
            <li><a href="https://matrix.to/#/#xubuntu-devel:ubuntu.com">Matrix</a></li>
         </ul>
      </div>
   </section>
</footer>
