---
layout: default
---

<section>
   <h2>{{ page.title }}</h2>
   {{ content }}

   <dl class="release-info">
      <dt>Codename</dt><dd>{{ page.codename }}</dd>
      <dt>Release Date</dt><dd>{{ page.date_rel }}</dd>
      <dt>End of Life</dt><dd>{{ page.date_eol }}</dd>
      {%- assign docs = site.releasedocs | where: "release", page.version -%}
      {%- if docs.size > 1 -%}
         <dt>Release Links</dt><dd>
            {%- for doc in docs -%}
               {%- capture doc_url -%}{{ page.url | relative_url }}/doc/{{ doc.slug }}/{%- endcapture -%}
               <a href="{{ doc_url }}">{{ doc.title }}</a><br />
            {%- endfor -%}
         </dd>
      {%- endif -%}
   </dl>

   {%- assign site_date = site.time | date: '%Y%m%d' -%}
   {%- assign eol_date = page.date_eol | date: '%Y%m%d' -%}

   {%- if eol_date > site_date -%}
      <h3>Downloads</h3>
      {%- include download-links.html release=page -%}
   {%- endif -%}

   {%- assign articles = site.posts | where: "release", page.version -%}
   {%- if articles.size > 0 -%}
      <h3>Articles</h3>
      <ul class="article-list">
         {%- for article in articles -%}
            <li>
               {{ article.date | date: site.date_format }}<br />
               <strong><a href="{{ article.url | relative_url }}">{{ article.title }}</a></strong>
            </li>
         {%- endfor -%}
      </ul>
   {%- endif -%}

   {%- assign press = site.press | where: "release", page.version -%}
   {%- if press.size > 0 -%}
      <h3>In the Press</h3>
      {%- for page in press -%}
         {{ page.content }}
      {%- endfor -%}
   {%- endif -%}

   {%- assign release_media = site.static_files | where: "release_media", true  -%}
   {%- assign found = "" | split: ',' -%}
   {%- for media in release_media -%}
      {%- if media.path contains page.version -%}
         {%- assign found = found | push: media.path -%}
      {%- endif -%}
   {%- endfor -%}
   {%- if found.size > 0 -%}
      <h3>Screenshots</h3>
      <div class="media-list">
         {%- for media in found -%}
            <a href="{{ media }}"><img src="{{ media }}" /></a>
         {%- endfor -%}
      </div>
   {%- endif -%}

</section>
